body {
    font-family: 'Baloo Thambi 2', cursive;
}

.container {
    text-align: center;
}

.formcontainer {
    text-align: left;
    width: 70%;
    margin: 0 auto;
}

select {
    display: block;
    width: 100%;
    height: 35px;
    margin: 0 auto;
    border-radius: 5px;
    outline: 0;
    padding: 0 5px;
    border: 1px solid grey;
}

input {
    display: block;
    width: 100%;
    height: 35px;
    margin: 0 auto;
    border-radius: 5px;
    outline: 0;
    padding: 0 5px;
    border: 1px solid grey;
}

.submit {
    width: 200px;
    margin: 0;
}

select:focus {
    box-shadow: 0 0 5px #66AFE9;
    border: 1px solid #66AFE9;
}

input:focus {
    box-shadow: 0 0 5px #66AFE9;
    border: 1px solid #66AFE9;
}

.carview {
    display: inline-block;
    margin: 30px;
    position: relative;
}

.carview img {
    border-radius: 10px;
}

.infoview {
    position: absolute;
    top: 5%;
    margin: auto 0;
    padding-left: 10px;
    background-color: hsla(0, 0%, 100%, 0.6);
    width: 100%;
}

.info {
    margin: 0;
    font-size: 1.1rem;
}